.modal-title{
    /* padding: 5px; */
    margin-bottom: 20px !important;
    
}

.modal-cell-title{
    background-color:#22272b;
    color: white !important;
}

.modal-cell{
    
}

.link{
    color: black;
}