.column-title{
    background-color:#22272b;
    color: white !important;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.table-cell{
    cursor: pointer;
}

